body{
    font-family: Arial, sans-serif;
    text-align:center;
    display:block;
}
a{
    text-decoration: none;
}

table{
    margin: 10px 10% 10px 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    width:80%
}

table,th,td{
    border:1px solid #191970;
    border-collapse: collapse;

}
tr{

}
td, thead, th{
    height:40px;
    padding: 0 5px 0 5px;
}
table tr{
    transition: 0.2s;
}


table tr:nth-child(even){
    background-color: rgba(78,173,255,0.15);
}

table tr:hover {
    background-color: rgba(78,173,255,0.4)
}
a, img{
    transition:0.15s;
}
a:hover, .click-text:hover, img:hover{
    cursor: pointer;
    width: 280px;
    font-weight: bold;
}

thead{
    background-color: #00BFFF;
}

p, input, select{
    margin: 5px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid black;
}

.btn-submit{
    padding: 5px 15px 5px 15px;
    text-decoration: white;
}





